<div class="page-header">
    <h1><%= Resources.login.header %></h1>
</div>
<div class="span10">
    <form method="post" action="/auth/login" class="form-stacked">
        <fieldset>
            <div class="clearfix">
                <label for="username">Username</label>

                <div class="input">
                    <input type="text" id="username" name="username"/>
                </div>
            </div>
            <div class="clearfix">
                <label for="password">Password</label>

                <div class="input">
                    <input type="password" name="password" id="password"/>
                </div>
            </div>
            <div class="clearfix">
                <input type="submit" class="btn primary" value="Log in">
            </div>
        </fieldset>
    </form>
    <p>Don't have a account? <a href="/auth/signup">Sign up for one</a></p>
</div>