<h1><%= title %></h1>
<form method="post" action="/auth/login">
    <ul>
        <li><label class="input">Username: <input type="text" name="username"></label></li>
        <li><label class="input">Password: <input type="password" name="password"></label></li>
        <li><input type="submit" class="btn primary" value="Log in"></li>
    </ul>
</form>
<p>Don't have a account? <a href="/auth/signup">Sign up for one</a></p>