<div class="page-header">
    <h1><%= title %></h1>
</div>
<div class="span10">
    <% if(typeof error !== 'undefined') { %>
    <div class="alert-message <%= error.type %>"><%= error.message %></div>
    <% } %>
    <form method="post" action="/auth/signup" class="form-stacked">
        <fieldset>
            <div class="clearfix">
                <label for="username">Username</label>

                <div class="input">
                    <input type="text" id="username" name="username"/>
                </div>
            </div>
            <div class="clearfix">
                <label for="password">Password</label>

                <div class="input">
                    <input type="password" name="password" id="password"/>
                </div>
            </div>
            <div class="clearfix">
                <label for="password2">Repeat password</label>

                <div class="input">
                    <input type="password" name="password2" id="password2"/>
                </div>
            </div>
            <div class="clearfix">
                <input type="submit" class="btn primary" value="Sign up">
            </div>
        </fieldset>
    </form>
</div>