<ul id="ideas">
    {{#ideas}}
    <li data-ideaid="{{id}}">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <p>Created on {{date}} with {{voted}} votes</p>
    </li>
    {{/ideas}}
</ul>