<ul class="nav">
	<li><a href="/">Home</a></li>
    <li><a href="/ideas">Ideas</a></li>
</ul>

<ul class="nav secondary-nav">
	<% if(isAuthenticated) { %>	
    <li class="dropdown">
    	<a href="#" class="dropdown-toggle">Account</a>
    	<ul class="dropdown-menu">
    		<li><a href="/account">Details</a></li>
    		<li class="divider"></li>
    		<li><a href="#">Sign out</a></li>
		</ul>
	</li>
	<% } else { %>
	<li><a href="/auth">Sign in</a></li>
	<% } %>
</ul>
