<nav id="mainnav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ideas">Ideas</a></li>
        <% if(isAuthenticated) { %>
        <li><a href="/account">Account</a></li>
        <% } %>
        
    </ul>
</nav>