<nav id="mainnav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ideas">Ideas</a></li>
        {{#isAuthenticated}}
        <li><a href="/account">Account</a></li>
        {{/isAuthenticated}}
    </ul>
</nav>