<div class="page-header">
    <h1>Nodebox
        <small> - the votebox written in node</small>
    </h1>
</div>
<div class="span10">
    <p>Nodebox is some awesome content votebox lolz</p>
    <% if(typeof projects !== 'undefined') { %>
    <h2>Projects in the nodebox</h2>

    <% } %>
</div>