body {
  background: #dbe9f3;
  font: 14px Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
#page {
  margin: 0 auto;
  width: 940px;
  padding: 20px;
  background: #fff;
}
a {
  color: #00B7FF;
}
h1, h2 {
  font-family: "Amaranth", sans-serif;
}
#mainnav ul {
  list-style: none;
}
#mainnav ul li {
  display: inline-block;
}
