<h1>Create a new idea!</h1>
<form id="create" action="/idea/create" method="post" class="form-stacked">
    <fieldset>
        <div class="clearfix">
            <label for="title">Title</label>
            <div class="input">
                <input type="text" name="title"/>
            </div>
        </div>
        <div class="clearfix">
            <label for="description">Description</label>
            <div class="input">
                <input type="text" name="description"/>
            </div>
        </div>
        <div class="clearfix">
            <label for="content">Idea</label>
            <div class="input">
                <textarea class="xxlarge" rows="5" name="content"></textarea>
            </div>
        </div>
        <div class="clearfix">
            <input type="submit" class="btn primary" value="Send your idea!" />
        </div>
    </fieldset>
</form>