<h1>Create a new idea!</h1>
<form id="create" action="/idea/create" method="post">
    <input type="hidden" value="{{redir}}"/>
    <ul>
        <li>
            <label>Idea title:<input type="text" name="title"/></label>
        </li>
        <li>
            <label>Idea:<input type="text" name="content"/></label>
        </li>
        <li><input type="submit" value="Send your idea!"/></li>
    </ul>
</form>